*.yml
*.csv
*.exe
*.exe~
*.log
*.mmdb
*.zip
.env
default.env
go.sum
*.syso
*.i
*.s
*.asm
*.o
.vscode/
*.png
*.hex
*.db
*.zip
lib/
venv/
build/
resource/
runtime/
downloads/
WpdPack/
npcap-sdk/
release/
netguard